@import "./variables.less";
@import "./common/input.less";
@import "./common/tab.less";
@import "./common/table.less";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: @primary-light;
    background-image: url("../assets/bg.jpg");
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: @blue;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @blue;
    color: @light-blue;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    -webkit-appearance: none;
    color: @blue;
    background: @primary;
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: .3em .5em;
    box-shadow: @shadow;
    resize: none;
}

/* other */

@media (min-width: 652px) {
    header {
        justify-content: space-between;
    }

    .user-panel {
        text-align: right;
    }

    .full-title {
        display: block;
    }

    .short-title {
        display: none;
    }

    .subtitle {
        display: block;
    }
}

@media (max-width: 651px) {
    header {
        justify-content: center;
        text-align: center;
    }

    .user-panel {
        text-align: center;
        margin: 10px 0;
    }

    .full-title {
        display: none;
    }

    .short-title {
        display: block;
    }

    .subtitle {
        display: none;
    }
}

menu {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @dark-blue;
    color: @light-blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @primary-light;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 5px;
    background-color: @primary-light;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @blue;
    color: @light-blue;
    border-top: solid 7px @dark-blue;
}

.footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.footer-wrapper__item {
    padding: 10px 20px;
    cursor: default;
}

.footer-wrapper__item_link {
    cursor: pointer;
    transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-wrapper__item_link:hover {
    background: @middle-light-blue;
}

h1 {
    font-size: 45px;
    font-weight: inherit;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-success {
    color: @accent-green;
}

.text-fail {
    color: @accent-red;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-narrow {
    max-width: 500px;
    margin: 0 10px;
}

.header-margin {
    margin: 10px 25px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-shadow {
    text-shadow: 3px 3px 0px @dark-blue;
}

.title-small-shadow {
    text-shadow: 2px 2px 0px @dark-blue;
}

.user-panel {
    margin-right: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form__item {
    display: block;
}

input.auth-form__item {
    font-size: 14px;
    margin: 1px 0;
}

.valid-msg {
    font-size: 18px;
}

.xp-bar {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    cursor: help;
}

.xp-bar__filled {
    width: 0%;
    height: 13px;
    background-color: @dark-blue;
}

.xp-bar__empty {
    width: 100%;
    height: 13px;
    background-color: @light-blue;
}

.menu-item {
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-item:hover {
    background-color: @blue;
}

/* commons */

.box,
.box-dark {
    padding: 20px 30px;
    box-shadow: @shadow;
}

.box {
    background: @primary;
}

.box-dark {
    background: @blue;
    color: @primary;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

// margins

.m-1 {
    margin: 1rem;
}
