@import "./variables.less";

.reg-form {
    max-width: 400px;
    margin: 0 auto;
}

.reg-item {
    margin: 1.4em 1em;
    font-size: 1.1rem;
}

.reg-item__submit {
    margin-top: 2rem;
}

.reg-item__caption {
    margin-bottom: .4rem;
}

.reg-form__input {
    width: 100%;
    box-sizing: border-box;
}

.reg-item__chaptcha-container {
    position: relative;
}

.reg-item__img {
    width: 100%;
    height: auto;
}

.reg-item__refresh-btn {
    position: absolute;
    right: 1%;
    bottom: 6%;
}

.reg-item__errors {
    color: @accent-red-bg;
}

.reg-item__errors > li {
    margin-top: .8rem;
}

.reg__link {
    font-weight: 200;
    cursor: pointer;
}

.modal-rules__list {
    margin-left: 1em;
    font-size: .9em;
}

.modal-rules__list > li {
    list-style-type: decimal;
    margin-bottom: .5em;
}

.modal-rules__ps {
    font-size: .85em;
}
