@white: #ffffff;

@light-blue: #d4e8ff;
@middle-light-blue: #006bb8;
@blue: #00497e;
@dark-blue: #003357;

@primary-light: #cecece;
@primary: #c5c5c5;
@primary-dark: #b4b4b4;

@accent-green: #008b00;
@accent-red: #aa0000;
@accent-grey: #5a5a5a;

@accent-green-bg: mix(@accent-green, @blue, 70%);
@accent-green-bg-hover: mix(@accent-green-bg, @white, 85%);

@accent-red-bg: mix(@accent-red, @blue, 70%);
@accent-red-bg-hover: mix(@accent-red-bg, @white, 85%);

@primary-bg: mix(@primary, @blue, 50%);
@primary-bg-hover: mix(@primary-bg, @white, 85%);

@shadow: .5px .5px 1px @blue;
@shadow-hover: 2px 2px 2px @blue;
