@import "colors.less";

.letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letters__item {
    color: @light-orange;
    background: @blue;
    padding: .325em .4166666em;
    border-radius: 0.2083333em;
    margin: 3px;
    cursor: pointer;
}

@media (min-width: 652px) {
    .letters__item {
        font-size: 48px;
    }
}

@media (max-width: 651px) {
    .letters__item {
        font-size: 24px;
    }
}

.solved-words {
    margin: 20px;
    font-weight: bold;
    height: 120px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.solved-words__item {
    margin-right: 30px;
    flex-grow: 0;
    flex-shrink: 0;
}

.solved-words__item_new {
    color: @dark-blue;
}

.status-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.submit-word-form {
    margin: 0 20px;
}

.level-status {
    color: @blue;
    font-weight: bold;
    margin: 20px;
}
