@import "colors.less";

@static-url: "/static/";

/* Tags */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

@bg-url: "@{static-url}img/bg.jpg";

body {
    background: url(@bg-url) @light-orange fixed;
    font-family: arial;
    font-size: 24px;
    color: @blue;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @blue;
    color: @light-blue;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

textarea {
    -webkit-appearance: none;
    color: @blue;
    background: @orange;
    font-size: inherit;
    font-family: inherit;
    border: none;
    padding: .3em .5em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px @dark-blue;
    resize: none;
}

/* Other */

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    color: @blue;
    background: @orange;
    font-size: inherit;
    border: none;
    padding: .3em .5em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px @dark-blue;
}

/* Button styling */

input[type="button"],
input[type="submit"],
button {
    -webkit-appearance: none;
    color: @light-orange;
    background-color: @blue;
    -webkit-background-color: @blue;
    font-size: inherit;
    border: none;
    padding: .3em .5em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px @dark-blue;
    transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background-color: @middle-light-blue;
}

input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled {
    cursor: default;
    color: @accent-grey;
    box-shadow: none;
}

/* select styling */

select {
    // -moz-appearance: none;
    // -webkit-appearance: none;
    font-size: inherit;
    font-weight: bold;
    border: none;
    border-radius: .29167em;
    background: @orange;
    color: @blue;
    padding: .35em .5em;
    // padding-right: 32px;
    box-shadow: 1px 1px 3px @dark-blue;
    // background-image:
    //     linear-gradient(75deg, transparent 50%, @blue 50%),
    //     linear-gradient(105deg, @blue 50%, transparent 50%);
    // background-position: calc(100% - 7px) center, calc(100% - 4px) center;
    // background-size: 8px 22px, 8px 22px;
    // background-repeat: no-repeat;
}

/* Input styling */

input.input-light {
    color: @blue;
    background-color: @light-orange;
}

/* other */

@media (min-width: 652px) {
    header {
        justify-content: space-between;
    }

    .user-panel {
        text-align: right;
    }

    .full-title {
        display: block;
    }

    .short-title {
        display: none;
    }

    .subtitle {
        display: block;
    }
}

@media (max-width: 651px) {
    header {
        justify-content: center;
        text-align: center;
    }

    .user-panel {
        text-align: center;
        margin: 10px 0;
    }

    .full-title {
        display: none;
    }

    .short-title {
        display: block;
    }

    .subtitle {
        display: none;
    }
}

menu {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @dark-blue;
    color: @light-blue;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @light-orange;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 5px;
    background-color: @light-orange;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: @blue;
    color: @light-blue;
    border-top: solid 7px @dark-blue;
}

.footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.footer-wrapper__item {
    padding: 10px 20px;
    cursor: default;
}

.footer-wrapper__item_link {
    cursor: pointer;
    transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-wrapper__item_link:hover {
    background: @middle-light-blue;
}

h1 {
    font-weight: bold;
    font-size: 45px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-success {
    color: @accent-green;
}

.text-fail {
    color: @accent-red;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-narrow {
    max-width: 500px;
    margin: 0 10px;
}

.header-margin {
    margin: 10px 25px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-shadow {
    text-shadow: 4px 4px 0px @dark-blue;
}

.title-small-shadow {
    text-shadow: 2px 2px 0px @dark-blue;
}

.user-panel {
    margin-right: 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form__item {
    display: block;
}

input.auth-form__item {
    font-size: 14px;
    margin: 1px 0;
}

.valid-msg {
    font-size: 18px;
}

.xp-bar {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    cursor: help;
}

.xp-bar__filled {
    width: 0%;
    height: 13px;
    background-color: @dark-blue;
}

.xp-bar__empty {
    width: 100%;
    height: 13px;
    background-color: @light-blue;
}

.menu-item {
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-item:hover {
    background-color: @blue;
}

/* commons */

.box,
.box-dark {
    padding: 20px 30px;
    box-shadow: 1px 1px 3px @dark-blue;
    border-radius: 15px;
}

.box {
    background: @orange;
}

.box-dark {
    background: @blue;
    color: @orange;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.mrg-10 {
    margin: 10px;
}

/* Tab pane */

.tab-pane__tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tab-pane__tab {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab-pane__tab:hover {
    background: @orange;
}

.tab-pane__tab_selected {
    background: @orange;
}

.tab-pane__contents {
    background: @orange;
    padding: 10px;
}

/* Modal */

.modal__bg {
    position: fixed;
    z-index: 144;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @dark-blue;
    opacity: .5;
}

.modal__win {
    position: fixed;
    z-index: 145;
    background: @light-orange;
    border-top: solid 5px @dark-blue;
    border-bottom: solid 5px @dark-blue;
    padding: 20px 10px;
    text-align: center;
    transition: top 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Table */

.table__row {
    border-radius: 5px;
    display: flex;
}

.table__row:nth-child(2n+3) {
    background: @orange;
}

.table__head {
    color: @light-blue;
    background: @blue;
}

.table__cell {
    padding: 3px 5px;
    text-align: center;
    flex-grow: 1;
}
