@import "../variables.less";

input[type="text"],
input[type="password"] {
    -webkit-appearance: none;
    color: @dark-blue;
    background: @primary;
    font-family: 'Roboto', arial;
    font-weight: inherit;
    font-size: inherit;
    border: none;
    padding: .3em .5em;
    box-shadow: @shadow;
}

input[type="button"],
input[type="submit"],
button {
    -webkit-appearance: none;
    color: @primary-light;
    background-color: @blue;
    -webkit-background-color: @blue;
    font-family: 'Roboto', arial;
    font-size: inherit;
    border: none;
    padding: .3em .5em;
    cursor: pointer;
    box-shadow: @shadow;
    transition: background-color .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 100;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background-color: @middle-light-blue;
}

input[type="button"]:disabled,
input[type="submit"]:disabled,
button:disabled {
    cursor: default;
    color: @accent-grey;
    box-shadow: none;
}

input.input-light {
    color: @blue;
    background-color: @primary-light;
}

.btn-green { background: @accent-green-bg; }
.btn-green:hover { background: @accent-green-bg-hover; }

.btn-red { background: @accent-red-bg; }
.btn-red:hover { background: @accent-red-bg-hover; }

.btn-orange { background: @primary-bg; }
.btn-orange:hover { background: @primary-bg-hover; }

:focus {
    outline: none;
}

select {
    font-family: 'Roboto', arial;
    font-weight: inherit;
    font-size: inherit;
    border: none;
    background: @primary;
    color: @blue;
    padding: .35em .5em;
    box-shadow: @shadow;
}
