.modal {
    display: none;
}

.modal_shown {
    display: block;
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal__container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: #cecece;
    padding: 1em;
}

.modal__header {
    margin-bottom: .5em;
}

.modal__header::after {
    content: "";
    clear: both;
    display: block;
}

.modal__h2 {
    float: left;
}

.modal__times {
    float: right;
    cursor: pointer;
}
