{% load static %}<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word from word</title>
    <link rel="stylesheet" href="{% static 'style/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="title-shadow">
          <a href="{% url 'home' %}" title="Word From Word">
            <h1 class="header-margin full-title">WordFromWord</h1>
            <h1 class="header-margin short-title">WFW</h1>
          </a>
          <h2 class="header-margin subtitle">Здесь слов хватит на всех!</h2>
        </div>
        <div class="user-panel">{% if not user.is_anonymous %}
          <div class="title-small-shadow">Уровень <span id="level">0</span></div>
          <div class="xp-bar" id="xp-bar">
            <div class="xp-bar__filled" id="xp-bar__filled"></div>
            <div class="xp-bar__empty" id="xp-bar__empty"></div>
          </div>
          <h2>
            <span class="title-shadow">{{ user }}</span>&nbsp;
            <a href="{% url 'logout' %}" title="Выйти" class="title-shadow">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </h2>{% else %}
          <form class="auth-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input class="auth-form__item input-light" type="text" name="username" placeholder="Логин">
            <input class="auth-form__item input-light" type="password" name="password" placeholder="Пароль">
            <input class="auth-form__item input-light" type="submit" value="Войти">
          </form>
          <a href="{% url 'register' %}" class="title-shadow">Зарегистрироваться</a>
          {% endif %}
        </div>
      </header>
      <menu type="list">
        <a href="{% url 'levels' %}">
          <li class="menu-item">Играть</li>
        </a>{% if not user.is_anonymous %}
        <a href="{% url 'profile' user.id %}">
          <li class="menu-item">Профиль</li>
        </a>{% endif %}
        <a href="{% url 'stats' %}">
          <li class="menu-item">Статистика</li>
        </a>
        <a href="{% url 'news' %}">
          <li class="menu-item">Новости</li>
        </a>
      </menu>
      <nav></nav>
      {% block content %}{% endblock %}
      <footer>
        <div class="footer-wrapper">
          <div class="footer-wrapper__item">Copyright© TDEDETD, 2018-{% now 'Y' %}</div>
          {% comment %}
          <div class="footer-wrapper__item footer-wrapper__item_link" id="feedback-button">Написать нам</div>
          {% endcomment %}
        </div>
      </footer>
      {% comment %}
      <div class="modal" modal-for="feedback-button">
        <div>
          <p>Не хватает какого-то слова или хотите оставить отзыв?</p>
          <p>Напишите нам!</p>
          <p>&nbsp;</p>
          <textarea cols="30" rows="6"></textarea>
          <p>&nbsp;</p>
          <div>
            <button>Отправить</button>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
  </body>
</html>
