<div style="background-color: #005998; padding: 10px;">
    <table style="width: 100%;">
        <tr>
            <td>
                <p style="
                    color: #d4e8ff;
                    margin: 0;
                    font-size: 24px;
                    font-weight: bold;
                ">WordFromWord</p>
            </td>
            <td style="text-align: right;">
                <p style="
                    color: #d4e8ff;
                    margin: 0;
                    font-size: 24px;
                    font-weight: bold;
                ">{{ user }}</p>
            </td>
        </tr>
    </table>
</div>
<div style="
    background-color: #003357;
    height: 5px;
"></div>
<div style="
    background-color: #f6ba6d;
    color: #005998;
    text-align: center;
">
    <br>
    <p style="
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    ">Здравствуйте, {{ user }}.</p>
    <br>
    <a href="">
        <button style="
            background-color: #005998;
            color: #f6ba6d;
            border-radius: 5px;
            border: none;
            font-size: 24px;
            padding: 6px 13px;
            margin-bottom: 15px;
        ">
            Подтвердить адрес<br>электронной почты
        </button>
    </a>
    <br>
</div>
<div style="
    background-color: #003357;
    height: 5px;
"></div>
<div style="
    background-color: #005998;
    padding: 7px;
">
    <p style="
        color: #d4e8ff;
        margin: 0;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    ">Спасибо за использование нашего приложения!</p>
</div>
