{% load static %}{% load webpack_url %}
            <footer>
                <div class="footer-wrapper">
                    <div class="footer-wrapper__item">Copyright© TDEDETD, 2018-{% now 'Y' %}</div>
                    <div class="footer-wrapper__item">Обратная связь: tdedetd@gmail.com</div>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="{% if debug %}{% webpack_url '/js/shared.js' %}{% else %}{% static 'js/shared.js' %}{% endif %}"></script>
        <script type="text/javascript" src="{% if debug %}{% webpack_url '/js/main.js' %}{% else %}{% static 'js/main.js' %}{% endif %}"></script>
    </body>
</html>
