{% extends 'base.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'style/grid.css' %}">
<link rel="stylesheet" href="{% static 'style/game.css' %}">
<script type="text/javascript" src="{% static 'js/game.js' %}"></script>
<div id="level-info" data-id="{{ level_id }}"></div>
<main>
  <div class="letters">{% for letter in letters %}
    <div class="letters__item">{{ letter }}</div>{% endfor %}
  </div>
  <div class="solved-words box" id="solved-words">{% for word in solved_words %}
    <div class="solved-words__item">{{ word.0 }}</div>{% endfor %}
  </div>
  <div class="status-wrapper">
    <div class="submit-word-form">
      {% csrf_token %}
      <input type="text" class="submit-word-form__item word-input" id="word-input">
      <button class="submit-word-form__item" id="backspace-button" title="Стереть">
        <i class="fas fa-long-arrow-alt-left"></i>
      </button>
      <button class="submit-word-form__item" id="clear-button" title="Очистить поле">
        <i class="fa fa-terminal" aria-hidden="true"></i>
      </button>
      <button class="submit-word-form__item" id="submit-word-button" title="Отправить">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
    <div class="level-status">
      Слов:&nbsp;<span id="words-solved">{{ solved_words|length }}</span>&nbsp;/&nbsp;{{ word_count }}
    </div>
  </div>
</main>
{% endblock %}