{% load static %}{% load webpack_url %}
{% include 'header.html' with keywords='word, word from word, wfw, слова, слово, игра, game' title=title %}

<div id="level-info" data-id="{{ level_id }}"></div>
<main>
  <div class="letters" id="letters">{% for letter in letters %}
    <div class="letters__item">{{ letter }}</div>{% endfor %}
  </div>
  <div class="solved-words box" id="solved-words">{% for word in solved_words %}
    <div class="solved-words__item">{{ word.0 }}</div>{% endfor %}
  </div>
  <div class="status-wrapper">
    {% csrf_token %}
    <div class="submit-word-form">
      <div class="word-input-wrapper submit-word-form__item">
        <input type="text" class="word-input" id="word-input">
      </div>
      <button class="submit-word-form__item btn-orange" id="backspace-button" title="Стереть">
        <i class="fas fa-caret-left"></i>
      </button>
      <button class="submit-word-form__item btn-red" id="clear-button" title="Очистить поле">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <button class="submit-word-form__item btn-green" id="submit-word-button" title="Отправить">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
      <button class="submit-word-form__item" id="shuffle-words-button" title="Перемешать буквы в слове">
        <i class="fa fa-random" aria-hidden="true"></i>
      </button>
    </div>
    <div class="level-status">
      Слов:&nbsp;<span id="words-solved">{{ solved_words|length }}</span>&nbsp;/&nbsp;{{ word_count }}
    </div>
  </div>
  <div class="container level-info-wrapper">
    <div class="row">
      {% if solve_history|length > 0 %}
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2 class="section-title">История</h2>
        <div class="table table-lvl-history">
          <div class="table__row table__head">
            <div class="table__cell table__date">Дата</div>
            <div class="table__cell table__count">Кол-во слов</div>
          </div>
          {% for date in solve_history %}
          <div class="table__row">
            <div class="table__cell table__date">{{ date.date }}</div>
            <div class="table__cell table__count">{{ date.count }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2 class="section-title">Лидеры</h2>
        <div class="table table-lvl-history">
          <div class="table__row table__head">
            <div class="table__cell table__date">Пользователь</div>
            <div class="table__cell table__count">Кол-во слов</div>
          </div>
          {% for leader in leaders %}
          <div class="table__row">
            <div class="table__cell table__date">{{ leader.username }}</div>
            <div class="table__cell table__count">{{ leader.count }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="labels"></div>
</main>

<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/game.js' %}{% else %}{% static 'js/game.js' %}{% endif %}"></script>

{% include 'footer.html' %}
