{% extends 'base.html' %}{% load static %}{% load webpack_url %}{% block content %}
<div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" id="level-sample" style="display: none;">
  <a href="" class="level-link">
    <div class="level">
      <div class="level__word"></div>
      <div class="level__last-activity"></div>
      <div class="level__status">
        <div class="level__bar">
          <div class="level__bar-solved"></div>
          <div class="level__bar-unsolved"></div>
        </div>
        <div class="level__word-count">
          <span class="level__words-solved"></span>&nbsp;/&nbsp;<span class="level__words-total"></span>
        </div>
      </div>
    </div>
  </a>
</div>

<link rel="stylesheet" href="{% if debug %}{% webpack_url '/style/grid.css' %}{% else %}{% static 'style/grid.css' %}{% endif %}">
<link rel="stylesheet" href="{% if debug %}{% webpack_url '/style/levels.css' %}{% else %}{% static 'style/levels.css' %}{% endif %}">
<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/levels.js' %}{% else %}{% static 'js/levels.js' %}{% endif %}"></script>
<main>
  <div class="level-select-params row">
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <select id="select-order-types">{% for order_type in order_types %}
          <option value="{{ order_type.id }}">{{ order_type.name }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <select id="select-order-dirs">{% for order_dir in order_dirs %}
          <option value="{{ order_dir.id }}">{{ order_dir.name }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <input type="text" id="input-search" placeholder="Поиск">
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <button class="w-100">
          <a href="{% url 'random_level' %}">Случайный уровень</a>
        </button>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <button class="w-100" id="btn-reset-filters">Сбросить</button>
      </div>
    </div>
  </div>
  <div class="levels-wrapper">
    <div class="row" id="levels"></div>
  </div>
  <div class="content-center" id="container-more-levels">
    <button id="btn-more-levels" title="Загрузить больше слов">Еще</button>
  </div>
  <div class="content-center" id="container-loading">
    <span>Загрузка...</span>
  </div>
  <button id="btn-top" class="btn-top" title="Наверх">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</main>
{% endblock %}