{% extends 'base.html' %}{% load static %}{% load webpack_url %}{% block content %}
<div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4" id="level-template" style="display: none;">
    <div class="level">
      <a href="">
        <div class="level__word"></div>
        <div class="level__last-activity"></div>
        <div class="level__status">
          <div class="level__bar">
            <div class="level__bar-solved"></div>
            <div class="level__bar-unsolved"></div>
          </div>
          <div class="level__word-count">
            <span class="level__words-solved"></span>&nbsp;/&nbsp;<span class="level__words-total"></span>
          </div>
        </div>
      </a>
    </div>
</div>

<main>
  <div class="level-select-params row">
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <select id="select-order-types">{% for order_type in order_types %}
          <option value="{{ order_type.id }}">{{ order_type.name }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <select id="select-order-dirs">{% for order_dir in order_dirs %}
          <option value="{{ order_dir.id }}">{{ order_dir.name }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <input type="text" id="input-search" placeholder="Поиск">
      </div>
    </div>
  </div>
  <div class="level-select-params row">
    <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <button class="w-100" title="Случайный уровень">
          <a href="{% url 'random_level' %}" class="w-100 level-select-params__link">
            <i class="fa fa-random" aria-hidden="true"></i>
          </a>
        </button>
      </div>
    </div>
    <div class="col col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <div class="level-select-params__item">
        <button class="w-100" id="btn-reset-filters" title="Сбросить">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="levels-wrapper">
    <div class="row" id="levels"></div>
  </div>
  <div class="content-center" id="container-more-levels">
    <button id="btn-more-levels" title="Загрузить больше слов">Еще</button>
  </div>
  <div class="content-center" id="container-loading">
    <span>Загрузка...</span>
  </div>
  <button id="btn-top" class="btn-top" title="Наверх">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</main>

<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/levels.js' %}{% else %}{% static 'js/levels.js' %}{% endif %}"></script>
{% endblock %}
