{% load static %}{% load webpack_url %}
{% include 'header.html' with keywords='word, word from word, новости, новости обновлений, буква' %}

<main>
  <h2 class="text-center m-1r">Новости обновлений</h2>
  <div class="news-container">{% for update in updates %}
    <div class="box news-item">
      <div class="news-item__head">
        <small>{{ update.created_on|date:'d.m.Y H:i' }}</small>
      </div>
      <div class="news-item__body">
        {% autoescape off %}{{ update.message }}{% endautoescape %}
      </div>
    </div>{% endfor %}
  </div>
</main>

{% include 'footer.html' %}
