{% extends 'base.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'style/profile.css' %}">
<main class="content-center">
  <h2 class="text-center">Информация о профиле</h2>
  <div class="box profile">
    <div class="profile__row profile__first-row">
      <div class="box-dark accent-block">{{ profile_info_dict.username }}</div>
      <div class="box-dark accent-block">#{{ profile_info_dict.rank }}</div>
    </div>
    <div class="profile__row">
      <div>Зарегистрирован:&nbsp;<b>{{ profile_info_dict.joined_on }}</b></div>
    </div>
    {% comment %} 
    <div class="profile__row">
      <div>Email:&nbsp;<b>{{ profile_info_dict.email|default:'Не указан' }}</b></div>
      <!-- <div>
        <button>Потвердить</button>
      </div> -->
    </div>
    {% endcomment %}
    <div class="points-info">
      <div class="points-info__item">Уровень:&nbsp;<b>{{ profile_info_dict.level }}</b></div>
      <div class="points-info__item">Рейтинг:&nbsp;<b>{{ profile_info_dict.rating }}</b></div>
      <div class="points-info__item">Уровней затронуто:&nbsp;<b>{{ profile_info_dict.levels_played }}</b></div>
      <div class="points-info__item">Слов отгадано:&nbsp;<b>{{ profile_info_dict.words_solved }}</b></div>
      <div class="points-info__item">Попыток отгадывания:&nbsp;<b>{{ profile_info_dict.word_submits }}</b></div>
      <div class="points-info__item" title="Средний процент отгаданных слов на всех уровнях за исключением нетронутых уровней">Рейтинг решаемости уровней:&nbsp;<b>{{ profile_info_dict.solve_rate }}%</b></div>
    </div>
  </div>
</main>
{% endblock %}