{% extends 'base.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'style/profile.css' %}">
<main class="content-center">
  <h2 class="text-center">Информация о профиле</h2>
  <div class="box profile">
    <div class="profile__row profile__first-row">
      <div class="box-dark accent-block">{{ profile_info_dict.username }}</div>
      <div class="box-dark accent-block">#{{ profile_info_dict.rank }}</div>
    </div>
    <div class="profile__row">
      <div>Зарегистрирован:&nbsp;</div>
      <div><b>{{ profile_info_dict.joined_on }}</b></div>
    </div>
    {% comment %} 
    <div class="profile__row">
      <div>Email:&nbsp;<b>{{ profile_info_dict.email|default:'Не указан' }}</b></div>
    </div>
    {% endcomment %}
    <ul class="points-info">
      <li class="points-info__item">Уровень:&nbsp;<b>{{ profile_info_dict.level }}</b></li>
      <li class="points-info__item">Рейтинг:&nbsp;<b>{{ profile_info_dict.rating }}</b></li>
      <li class="points-info__item">Уровней затронуто:&nbsp;<b>{{ profile_info_dict.levels_played }} / {{ profile_info_dict.levels_total }}</b></li>
      <li class="points-info__item">Слов отгадано:&nbsp;<b>{{ profile_info_dict.words_solved }}</b></li>
      <li class="points-info__item">Неповторяющихся слов отгадано:&nbsp;<b>{{ profile_info_dict.different_words_solved }}</b></li>
      <li class="points-info__item">Попыток отгадывания:&nbsp;<b>{{ profile_info_dict.word_submits }}</b></li>
      <li class="points-info__item">Максимальное кол-во слов за один день:&nbsp;<b>{{ profile_info_dict.max_words_in_day }}</b></li>
      <li class="points-info__item">Средняя длина отгаданных слов:&nbsp;<b>{{ profile_info_dict.avg_solved_words_length }}</b></li>
      <li class="points-info__item">Процент отгаданных слов на затронутых уровнях:&nbsp;<b>{{ profile_info_dict.solve_rate }}%</b></li>
    </ul>
  </div>
</main>
{% endblock %}