{% extends 'base.html' %}{% load static %}{% load webpack_url %}{% block content %}
<main class="">
  <h2 class="text-center m-1">Регистрация</h2>
  <form id="reg-item" class="reg-form" action="{% url 'signup' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="reg-item">
      <div class="reg-item__caption">Логин</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="text" name="username" placeholder="Логин" autocomplete="off">
        <div id="login-exists" class="reg-item__errors hidden">Такой логин уже зарегистрирован</div>
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption">Пароль</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="password" name="password" placeholder="Пароль" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption">Подтверждение пароля</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="password" name="password-conf" placeholder="Пароль" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption" id="chaptcha-task">Введите текст с картинки</div>
      <div class="reg-item__value">
        <!-- <img class="reg-item__img" id="chaptcha-img" src="{% if debug %}{% webpack_url '/assets/captcha.png' %}{% else %}{% static 'assets/captcha.png' %}{% endif %}" alt="img"> -->
        <img class="reg-item__img" id="chaptcha-img" src="/auth/get_captcha_image" alt="img">
        <input class="reg-form__input" type="text" name="captcha" placeholder="Решение" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <ul class="reg-item__errors" id="reg-errors"></ul>
    </div>
    <div class="reg-item reg-item__sumit text-center">
      <input type="submit" value="Зарегистрироваться">
    </div>
  </form>
</main>

<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/register.js' %}{% else %}{% static 'js/register.js' %}{% endif %}"></script>
{% endblock %}
