{% load static %}{% load webpack_url %}
{% include 'header.html' with keywords='word, word from word, wfw, слова, слово, регистрация, зарегистрироваться' title='Зарегистрироваться' %}

<main>
  <h2 class="text-center m-1r">Регистрация</h2>
  <form id="reg-item" class="reg-form" action="{% url 'signup' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="reg-item">
      <div class="reg-item__caption">Логин</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="text" name="username" placeholder="Логин" autocomplete="off">
        <div id="login-exists" class="reg-item__errors hidden">Такой логин уже зарегистрирован</div>
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption">Пароль</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="password" name="password" placeholder="Пароль" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption">Подтверждение пароля</div>
      <div class="reg-item__value">
        <input class="reg-form__input" type="password" name="password-conf" placeholder="Пароль" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <div class="reg-item__caption" id="chaptcha-task">Введите текст с картинки</div>
      <div class="reg-item__value">
        <div class="reg-item__chaptcha-container">
          <div class="reg-item__chaptcha-img-container" id="chaptcha-img-container">
            <img class="reg-item__img" src="{% if debug %}{% webpack_url '/assets/captcha.png' %}{% else %}{% static 'assets/captcha.png' %}{% endif %}" alt="img">
          </div>
          <button id="refresh-captcha-btn" class="reg-item__refresh-btn" title="Не вижу код">
            <i class="fa fa-sync" aria-hidden="true"></i>
          </button>
        </div>
        <input class="reg-form__input" type="text" name="captcha" placeholder="Решение" autocomplete="off">
      </div>
    </div>
    <div class="reg-item">
      <label for="">
        <input type="checkbox" name="confirm">
        Согласен(-на) с {% comment %}<a class="reg__link" id="reg-privacy-link">политикой обработки персональных данных</a> а также {% endcomment %}<a class="reg__link" id="reg-rules-link">правилами сайта</a>.
      </label>
    </div>
    <div class="reg-item">
      <ul class="reg-item__errors" id="reg-errors"></ul>
    </div>
    <div class="reg-item reg-item__submit text-center">
      <input type="submit" value="Зарегистрироваться">
    </div>
  </form>
</main>

<div id="modal-rules">
  <wfw-title>Правила сайта</wfw-title>
  <wfw-content>
    <ol class="modal-rules__list">
      <li>Запрещены никнеймы, содержащие нецензурную брань, либо оскорбляющие честь и достоинство лица или группы лиц.</li>
      <li>Запрещено жульничать.</li>
    </ol>
    <div class="modal-rules__ps">За несоблюдение вышеперечисленных правил администратор сайта оставляет за собой право назначать наказания в виде бана или прочих ограничений функциональности сайта.</div>
  </wfw-content>
</div>

{% comment %}
<div id="privacy-rules">
  <wfw-title>Политика конфиденциальности</wfw-title>
  <wfw-content>
    bla
  </wfw-content>
</div>
{% endcomment %}

<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/register.js' %}{% else %}{% static 'js/register.js' %}{% endif %}"></script>

{% include 'footer.html' %}
