{% load static %}{% load webpack_url %}
{% include 'header.html' with keywords='word, word from word, wfw, слова, слово, рейтинг, топ-10, рейтинг, слов отгадано' title='Статистика' %}

<main>
  <div class="row">
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h2 class="section-title">Топ-10 игроков по рейтингу</h2>
      <div class="table stats-table">
        <div class="table__row table__head">
          <div class="table__cell stats-table__place">№</div>
          <div class="table__cell stats-table__username">Игрок</div>
          <div class="table__cell stats-table__rating">Рейтинг</div>
        </div>{% for player in top_rating %}
        <a href="{% url 'profile' player.id %}" class="table__row">
          <div class="table__cell stats-table__place">{{ player.place }}</div>
          <div class="table__cell stats-table__username">{{ player.username }}</div>
          <div class="table__cell stats-table__rating">{{ player.rating }}</div>
        </a>{% endfor %}
      </div>
    </div>
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h2 class="section-title">Топ-10 игроков по словам</h2>
      <div class="table stats-table">
        <div class="table__row table__head">
          <div class="table__cell stats-table__place">№</div>
          <div class="table__cell stats-table__username">Игрок</div>
          <div class="table__cell stats-table__rating">Слов отгадано</div>
        </div>{% for player in top_words %}
        <a href="{% url 'profile' player.id %}" class="table__row">
          <div class="table__cell stats-table__place">{{ player.place }}</div>
          <div class="table__cell stats-table__username">{{ player.username }}</div>
          <div class="table__cell stats-table__rating">{{ player.words }}</div>
        </a>{% endfor %}
      </div>
    </div>

    {% if not user.is_anonymous %}
    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2 class="section-title">Персональная статистика</h2>
      <div class="tab-pane tab-person-stats" id="tab-person-stats">
        <div class="tab-pane__tabs">
          <div class="tab-pane__tab" title="Распределение количества отгаданных слов по длине слова">Длина слова</div>
          <div class="tab-pane__tab" title="Распределение количества отгаданных слов по первой букве">Первая буква</div>
          <div class="tab-pane__tab" title="Список самых популярных разгаданных слов с их количеством">Популярные слова</div>
        </div>
        <div class="tab-pane__contents">
          <div class="tab-pane__content">
            <div class="chart-word-length" id="chart-word-length"></div>
          </div>
          <div class="tab-pane__content">
            <div class="chart-first-letter" id="chart-first-letter"></div>
          </div>
          <div class="tab-pane__content">
            <div class="popular-words">
              <div class="table">
                <div class="table__row table__head">
                  <div class="table__cell table__word">Слово</div>
                  <div class="table__cell table__count">Раз отгадано</div>
                </div>
                <div class="table__body" id="popular-words"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</main>

<script type="text/javascript" src="{% if debug %}{% webpack_url '/js/stats.js' %}{% else %}{% static 'js/stats.js' %}{% endif %}"></script>

{% include 'footer.html' %}
